NEXT_PUBLIC_STRAVA_CLIENT_ID="1234"
STRAVA_CLIENT_SECRET="1234asdf1234asdf1234asdf1234asdf1234asdf"

NEXT_PUBLIC_SUPABASE_PROJECT_URL="--supabase_project_url--"
SUPABASE_SECRET_KEY="--supabase_secret_key--"

JWT_SECRET="asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf="

PUSH_VERIFY_TOKEN="asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf="

ADMIN_ID_ALLOWLIST="1234, 5678"

NEXT_PUBLIC_DEMO_ID="1234"